body {
  font-family: 'Voces', sans-serif;
  font-style: normal;
  font-weight: 400;
  color: #515047;
  background-color: #eee;
  padding: 0px;
  margin: 0 auto;
}

#map_canvas{
  height:60%;
  margin-bottom: 30px;
}

.container {
  width: 60%;
  height: 90%;
  float: left;
  margin-right: 30px;
}

#transactionList {
  height: 90%;
  list-style: none;
  text-align: center;
  width: 30%;
  overflow: scroll;
  padding: 0px;
  margin-top: 0px;
}

#transactionList a {
  text-decoration: none;
}

#transactionList li {
  font-size: 14px;
  border-bottom: 1px solid black;
  padding: 5px;
}

header {
  width: 100%;
  height: 100%;
  top: 0px;
  left: 0px;
  background-color: #fff;
  position: fixed;
  z-index: 100;
  height: 278px;
  top: -203px;
}

#logo {
  display: block;
  font-family: 'Chango', cursive;
  font-style: normal;
  font-weight: 400;
  font-size: 40px;
  padding: 5px 10px 0px 10px;
  color: #000;
}

#nav {
  position: absolute;
  width: 100%;
  background-color: #fff;
  text-align: center;
  height: 75px;
  bottom: 0px;
  left: 0px;
  border-bottom: 1px dashed #ccc;
  border-top: 1px dashed #ccc;
}

#subnav {
  font-family: proxima-nova,sans-serif;
  font-style: normal;
  font-weight: 400;
  text-transform: uppercase;
  text-align: center;
  font-size: 16px;
  margin-top: -4px;
}

#subnav a {
  color: #666;
  text-decoration: none;
  color: #666 !important;
  background-color: #ffff00 !important;
}